<<<<<<< HEAD
.section-article {
  background: var(--B5, rgba(233, 238, 207, 0.3));
  padding-block: 50px;
}

.section-article .content {
  gap: 32px;
}

article.content-bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 60px;
  row-gap: 32px;
}

article .custom-col {
  height: 475px;
  width: 338px;
}

article .row {
  gap: 50px;
=======
article {
   max-width: 1134px;
   margin: 50px auto 100px;
}

article .custom-col {
   height: 475px;
   width: 338px;
}

article .row {
   gap: 50px;
>>>>>>> 0358297e7c4bfff3653430cdaf3a6d2fccfa0b0c
}

/* title  */
.title-inner p {
<<<<<<< HEAD
  font-size: 24px;
}

.title-body h1 {
  font-size: 48px;
  font-weight: 600;
}

.title-body h1 span {
  color: #0c4b36;
}

.title .line {
  background-color: #0c4b36;
  width: 200px;
  height: 5px;
=======
   font-size: 24px;
}

.title-body h1 {
   font-size: 48px;
   font-weight: 600;
}

.title-body h1 span {
   color: #0C4B36;
}

.title .line {
   background-color: #0C4B36;
   width: 200px;
   height: 5px;
>>>>>>> 0358297e7c4bfff3653430cdaf3a6d2fccfa0b0c
}

/* card */
.card {
<<<<<<< HEAD
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
  transition: all 0.3s ease;
}

.card .card-img-top {
  transform: scale(1);
  transition: all 0.3s ease;
}

.card .card-info {
  color: #0c4b36;
  transition: all 0.3s ease;
}

.card-info h4 span {
  color: #0c4b36;
  border: solid 1px #0c4b36;
  font-size: 16px;
  transition: all 0.3s ease;
}

.card-info h5 {
  font-size: 16px;
  font-weight: 400;
}

.card .card-title {
  font-size: 18px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.card .card-text {
  font-size: 12px;
}

.card a {
  font-size: 14px;
  text-decoration: none;
  color: black;
  transition: all 0.3s ease;
}

.card:hover .card-img-top {
  transform: scale(1.1);
}

.card:hover .card-info h4 span {
  background-color: #0c4b36;
  color: white;
}

.card:hover a,
.card:hover .card-title {
  font-weight: 600;
  color: #0c4b36;
}
=======
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
   border-radius: 5px;
}

.card .card-info {
   color: #0C4B36;
}

.card-info h4 span {
   color: #0C4B36;
   border: solid 1px #0C4B36;
   font-size: 16px;
}

.card-info h5{
   font-size: 16px;
}

.card .card-title {
   font-size: 18px;
   font-weight: 600;
}

.card .card-text {
   font-size: 12px;
}

.card a {
   font-size: 14px;
   text-decoration: none;
   color: black;
}

.card:hover .card-info h4 span {
   background-color: #0C4B36;
   color: white;
}

.card:hover a, 
.card:hover .card-title {
   font-weight: 600;
   color: #0C4B36;
}

.card img:hover {
   transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}
>>>>>>> 0358297e7c4bfff3653430cdaf3a6d2fccfa0b0c
