/* section detail  */
.navbar {
  background-color: var(--white-color) !important;
}

.section-detail {
  padding-block: 85px;
}

@media (max-width: 768px) {
  .section-detail {
    padding-block: 40px;
  }
}

.section-detail .container {
  padding-inline: 119px;
  gap: 85px;
}

@media (max-width: 768px) {
  .section-detail .container {
    gap: 40px;
  }
}

@media (max-width: 1200px) {
  .section-detail .container {
    padding-inline: 75px;
  }
}

@media (max-width: 768px) {
  .section-detail .wrapper {
    gap: 30px;
  }
}

.section-detail .detail-inner-title h2 {
  font-size: 48px;
  font-weight: 600;
}

@media (max-width: 1200px) {
  .section-detail .detail-inner-title h2 {
    font-size: 32px;
  }
}

@media (max-width: 768px) {
  .section-detail .detail-inner-title h2 {
    font-size: 24px;
  }
}

.section-detail .detail-inner-title h4 {
  font-size: 28px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 30px;
}

@media (max-width: 1200px) {
  .section-detail .detail-inner-title h4 {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .section-detail .detail-inner-title h4 {
    font-size: 16px;
  }
}

.section-detail .card {
  border-radius: 10px;
  padding: 18px;
}

.section-detail .detail-inner-img img {
  max-width: 557px;
  max-height: 435px;
  border-radius: 20px;
  object-fit: cover;
}

@media (max-width: 1440px) {
  .section-detail .card{
    max-width: 450px;
  }
}

@media (max-width: 992px) {
  .section-detail .detail-inner-img img{
    justify-content: center !important;
    margin-bottom: 10px;
  }
}

@media (max-width: 768px) {
  .section-detail .detail-inner-img img {
    max-width: 100%;
    max-height: 250px;
  }

  .section-detail .card{
    max-width: 100%;
  }
}

/* deatail desc */
.section-detail .detail-desc {
  background-color: rgba(233, 238, 207, 0.3);
  padding: 45px;
  border-radius: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .section-detail .detail-desc {
    padding: 24px;
  }
}

.section-detail .detail-desc .desc-plant h3 {
  font-size: 22px;
  font-weight: 600;
}

@media (max-width: 768px) {
  .section-detail .detail-desc .desc-plant h3 {
    font-size: 20px;
    font-weight: 600;
  }
}

.section-detail .detail-desc .desc-plant p {
  font-size: 18px;
}

@media (max-width: 768px) {
  .section-detail .detail-desc .desc-plant p {
  font-size: 16px;
}
}
