/* Hero */
.section-header {
  background: var(--B5, rgba(233, 238, 207, 0.3));
  display: flex;
  padding: 50px 75px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}
.section-header .subtext-text-display {
  max-width: 775px;
  color: var(--T1, #000);

  /* H1 */
  font-family: Poppins;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* .section-header .subtext-text-display span {
  color: var(--Premiere, var(--T1, #0c4b36));
} */

.section-header .subtext-text-desc {
  width: 584px;
  color: var(--T1, #000);

  /* P2 */
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.section-header .button-header {
  position: absolute;
  display: flex;
  padding: 16px 52px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 8px;
  background: #0c4b36;
  color: #fff;
}

.section-header .side-button-header {
  display: flex;
  height: 56px;
  justify-content: flex-end;
  align-items: center;
  gap: 14px;
  color: var(--T1, #000);
}
.subtext-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 42px;
}

.anchor-header {
  gap: 79px;
}

/* Hero End */

/* Feature */
.section-choose {
  background-color: rgba(233, 238, 207, 0.3);
  display: flex;
  width: 100%;
  padding: 80px 75px;
  justify-content: center;
  align-items: center;
  gap: 42px;
}

.section-choose .subtext-text > .subtext-text-display {
  color: var(--black-color);
  text-align: center;
  font-family: var(--font-display);
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.section-choose .subtext-card > .card {
  background-color: var(--white-color);
  border: none;
  gap: 24px;
  padding: 52px 32px;
  width: 374px;
  transition: all 300ms ease;
  cursor: pointer;
}

.section-choose .subtext-card > .card:hover {
  background-color: var(--primary-color);
}

.section-choose .card:hover .card-icon,
.section-choose .card:hover .card-title,
.section-choose .card:hover .card-text {
  color: var(--white-color);
}

.section-choose .card .card-icon {
  font-size: 64px;
  color: #0c4b36;
}

.section-choose .subtext-card > .card .card-icon {
  max-width: 64px;
}

.section-choose .card-body {
  padding: 0;
}

.section-choose .card-body > .card-title {
  color: var(--black-color);
  font-family: var(--font-display);
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.section-choose .card-body > .card-text {
  color: var(--black-color);
  font-family: var(--font-display);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
/* End Feature */

/* Section About */
.section-about {
  display: flex;
  width: 100%;
  padding: 100px 0px;
  flex-direction: column;
  align-items: flex-end;
}

.section-about .subtext {
  display: flex;
  /* padding: 0px 110px; */
  justify-content: center;
  align-items: center;
  gap: 60px;
  align-self: stretch;
}

.section-about .subtext-image {
  width: 412px;
  height: 460.125px;
}

.section-about .subtext-text-display {
  color: var(--T1, #000);

  /* H2 */
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.section-about .subtext-text-desc {
  color: var(--T1, #000);
  text-align: justify;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.section-about .subtext-text-desc b {
  font-size: 28px;
}
/* End About */

/* Section Plant */
.section-plants {
  background-color: rgba(233, 238, 207, 0.3);
  display: flex;
  width: 100%;
  padding: 80px 0px;
  flex-direction: column;
  align-items: flex-end;
}

.section-plants .content {
  gap: 60px;
}

.section-plants .subtext-text-display,
.section-plants .subtext-text-desc {
  color: var(--T1, #000);
  font-family: Poppins;
  text-align: center;
}

.section-plants .subtext-text-display {
  font-size: 48px;
  font-weight: 700;
  line-height: normal;
}

.section-plants .subtext-text-desc {
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
}
.card {
  border-radius: 10px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}
.custom-btn {
  background-color: #0c4b36;
  color: #fff;
  padding: 12px 20px;
  border-radius: 8px;
}
.custom-btn:hover {
  background-color: #177755;
  color: #fff;
}
/* End Plant */

/* Article */
.section-article {
  display: flex;
  width: 100%;
  padding: 80px 0px;
  flex-direction: column;
  align-items: flex-end;
}
.section-article .subtext-text-display {
  color: var(--T1, #000);
  font-family: Poppins;
  display: flex;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 30px;
}
.carousel-caption h2 {
  font-size: 36px;
  font-weight: 700;
}
.carousel-caption p {
  font-size: 20px;
}

.carousel-indicators [data-bs-target] {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
/* End Article */
