.navbar {
  padding-block: 0 !important;
  position: sticky;
  top: 0;
  background-color: rgba(233, 238, 207, 0.3);
  z-index: 99;
}

.navbar .container {
  padding-block: 24px;
  position: relative;
}

.scrolled {
  background-color: var(--white-color);
}

.navbar .navbar-brand {
  max-width: 204px;
}

.navbar .navbar-toggler:focus {
  box-shadow: none;
}

.navbar .navbar-toggler-icon {
  background-image: url(../../assets/image/ic-menu.svg);
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

@media (max-width: 768px) {
  .navbar .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--white-color);
    height: 0;
    transition: all 400ms ease !important;
    overflow: hidden;
  }
  .navbar .navbar-nav {
    opacity: 0;
    transition: all 400ms ease-in-out !important;
    padding-block: 40px;
  }

  .navbar .navbar-collapse.collapsing {
    height: 0 !important;
  }

  .navbar .navbar-collapse.show .navbar-nav {
    opacity: 1;
  }
}

.navbar .navbar-collapse.show  {
  height: 100vh;
}

.navbar .navbar-nav {
  gap: 32px;
}

.navbar .navbar-nav .nav-link {
  color: var(--black-color);
  font-family: var(--font-display);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0;
}

.navbar .navbar-nav .nav-link:hover {
  color: var(--secondary-color);
}
