.navbar {
  background-color: var(--white-color);
}

.gallery-section {
  padding-block: 100px;
}

.gallery-section .content {
  gap: 80px;
}

.gallery-section .title {
  max-width: 1120px;
}

.gallery-section .title h2 {
  font-weight: 700;
}

.gallery-section .plant-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 70px;
  row-gap: 40px;
}

@media (max-width: 1200px) {
  .gallery-section .plant-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .gallery-section .plant-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}

@media (max-width: 576px) {
  .gallery-section .plant-list {
    grid-template-columns: repeat(1, 1fr);
  }
}

.gallery-section .card {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.gallery-section .card-img-top {
  border-radius: 5px 5px 0 0;
  object-fit: cover;
}

.gallery-section .card .card-img-top {
  transform: scale(1);
  transition: all 0.3s ease;
}

.gallery-section .card {
  transition: all 0.3s ease;
}

.gallery-section .card:hover {
  transform: scale(1.01);
}

.gallery-section .card .card-title {
  font-size: 20px;
  color: black;
}

.gallery-section .card .card-text {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8);
}
