/* survey section */
.survey-section {
  background-color: rgba(233, 238, 207, 0.3);
}

.survey-section .content-right {
  background-color: var(--white-color);
  align-self: stretch;
  padding: 20px 0px;
  border-radius: 15px;
  gap: 30px;
}

@media (max-width: 576px) {
  .survey-section .content-right {
    padding: 0;
  }
}

.side .box {
  border-radius: 100px 10px 100px 10px;
  background-color: #bbd7be;
}

.survey-section .side-text h1 {
  font-size: 32px;
  font-weight: 700;
  color: var(--primary-color);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

/* survey form */

.survey-section .content-right .wrap-input {
  gap: 30px;
}

.form-select {
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
}

form {
  margin: 30px 100px;
}

@media (max-width: 1200px) {
  form {
    margin: 30px 30px;
  }
}

@media (max-width: 576px) {
  form {
    margin: 20px 20px;
  }
}

form h1 {
  font-weight: 700;
  color: var(--primary-color);
  font-size: 28px;
}

form label {
  font-weight: 600;
  font-size: 18;
}

form .form-select,
form input {
  font-size: 12px;
  color: #888888;
  height: 45px;
  padding: 12px 24px;
}

.form-control::placeholder {
  font-size: 12px;
  color: #888888;
}
